body {
    display: flex;
    flex-direction: column;




    display: flex;
    flex-direction: column;
    justify-items: center; 
     justify-content: center;
    margin-left: 650px;
    margin-top: 200px;

     
    height: 350px;
    width: 320px;
    align-content: center;
    background-color: skyblue;
 
}

#one {
  
    display: flex;
    flex-direction: column;
    justify-items: center; 
     justify-content: center;
    margin-left: 500px;

  
   
  
}